#-------------------------------------------------------------------------------------
# HMC - Dynamic variable(s) configuration
# Version 2.0.7 (20180521)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $yyyy, $mm, $dd, $HH, %MM, %RUN, $VAR, $MODE
#
# DATA INPUT: TimeStep
# ARCHIVE: TimeNow
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary  [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataForcing = {
    'Gridded'	: {
        'FileName' 	  	: 'hmc.forcing-grid.$yyyy$mm$dd$HH$MM.nc',	    # [FILEFORMAT: hmc.forcing-grid.$yyyy$mm$dd$HH$MM.nc.gz']
        'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/forcing/gridded/$yyyy/$mm/$dd/', # string
        'FileType'		: 2,	                                    	# 1 = Binary, 2 = NetCDF
        'FileTimeRes'	: 3600,    										# time resolution
		'FileVars'		: {                                 
	    	'OBS'			: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': False, 'Splitting': False},
		        'VarStep'           : 1,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
		        'VarName'           : {                                             
		            'Rain'              : {	  
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'Rain',
		                                },
		            'AirTemperature'    : {
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'AirTemperature',
						                },
		            'Wind'              : {	
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'Wind',
						                },
		            'RelHumidity'       : {	
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'RelHumidity',
						                },
		            'IncRadiation'		: {	
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'IncRadiation',
						                },
		            'AirPressure'		: {	
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'AirPressure',
		                				},
	                        		},
	                    	},		      	

    		'FOR'			: { 	                                
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 1, 'Hour': ['00']},
                'VarOp'             : {'Merging': False, 'Splitting': True},
		        'VarStep'           : 72,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north', 'time' :'time'},
		        'VarName'           : {                                                    
			        'Rain'				: {
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'Rain',
					                    },
				    'AirTemperature'	: {	
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'AirTemperature',
									    },
				    'Wind'				: {	
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'Wind',
									    },
				    'RelHumidity'		: {	
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'RelHumidity',
										},
				    'IncRadiation'		: {	
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'IncRadiation',
										},
				    'AirPressure'		: {	
		                'FileName'      : 'nwp.lami.$yyyy$mm$dd0000.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/nwp/lami-i7/$yyyy/$mm/$dd/',
		                'FileVar'		: 'AirPressure',
									    },	
					                },
			            	},
            			},	
				},

    'Point'     : {
        'FileName'      :	'hmc.$VAR.$yyyy$mm$dd$HH$MM.txt',
        'FilePath'		:	'/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/forcing/point/$yyyy/$mm/$dd/',
        'FileType'		:	1,		# 1 = ASCII
        'FileTimeRes'	:	3600, 	# time resolution
		'FileVars'		: {
		    'OBS' 			: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {
                    'Discharge'			: {
		                'FileName'      : 'rs.db.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/rs/$yyyy/$mm/$dd/',
		                'FileVar'		: 'discharge',
		                                },
        			'DamV'				: {	  
		                'FileName'      : 'damv.db.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/dp/$yyyy/$mm/$dd/',
		                'FileVar'		: 'damv',
		                                },
        			'DamL'				: {	  
		                'FileName'      : 'daml.db.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/dp/$yyyy/$mm/$dd/',
		                'FileVar'		: 'daml',
		                                },
									},
							},
						
		    'FOR' 	  	: {},
                		},
				},

    'TimeSeries':{
        'FileName'      :	'hmc.forcing-ts.plant_$NAME_PLANT.txt',
        'FilePath'		:	'/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/forcing/timeseries/',
        'FileType'		:	1,		# 1 = ASCII
        'FileTimeRes'	:	3600, 	# time resolution
		'FileVars'		: {
            'OBS' 			: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : -1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {
        			'DamQ'				: {
		                'FileName'      : 'hmc.forcing-ts.plant_$NAME_PLANT.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/turbinate/$yyyy/$mm/$dd/',
		                'FileVar'		: '',
		                                },
                    'IntakeQ'			: {
		                'FileName'      : 'hmc.forcing-ts.plant_$NAME_PLANT.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/turbinate/$yyyy/$mm/$dd/',
		                'FileVar'		: '',
		                                },
									},
							},

		    'FOR' 	  	: {},
                		},
                },
}

# Data updating dynamic dictionary [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataUpdating = {
    'Gridded'	: {
        'FileName' 	  	: 'hmc.forcing-grid.$yyyy$mm$dd$HH$MM.nc',	    # [FILEFORMAT: hmc.forcing-grid.$yyyy$mm$dd$HH$MM.nc']
        'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/forcing/gridded/$yyyy/$mm/$dd/', # string
        'FileType'		: 2,	                                    	# 1 = Binary, 2 = NetCDF
        'FileTimeRes'	: 3600,    										# time resolution
		'FileVars'		: {
	    	'OBS'			: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': True, 'Splitting': False},
		        'VarStep'           : 1,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
		        'VarName'           : {
		            'SnowHeight'		: {
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'SnowLevel',
		                				},
		            'SnowKernel'	    : {
		                'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/ws/$yyyy/$mm/$dd/',
		                'FileVar'		: 'SnowKernel',
		                				},
		            'SnowCoverArea'		: {
		                'FileName'      : 'MOD10A1.005_marche_$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/modis/$yyyy/$mm/$dd/',
		                'FileVar'		: 'snow_cover_daily',
		                				},
		            'SnowQualityArea'	: {
		                'FileName'      : 'MOD10A1.005_marche_$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/dynamic/outcome/observation/modis/$yyyy/$mm/$dd/',
		                'FileVar'		: 'snow_spatial_qa_filter',
				                        },
	                        		},
	                    	},

		    'FOR' 	  	: {},
                		},
                },
}
																
# Data output dynamic dictionary  [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataOutput = {																
    'Gridded'	: {
	    'FileName'     	: 'hmc.output-grid.$yyyy$mm$dd$HH$MM.nc.gz',	# [FILEFORMAT: 'hmc.output-grid.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/outcome/$MODE/gridded/$yyyy/$mm/$dd/',
		'FileType'		: 2,	# 1 = Binary, 2 = NetCDF
		'FileTimeRes'	: 3600, # time resolution
		'FileVars'		: {
			'ARCHIVE'		: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
		        'VarName'           : {                                             
        			'ALL'				: {	  
		                'FileName'      : 'hmc.output-grid.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/gridded/$MODE/',
		                'FileVar'		: 'ALL',
		                                },
									},
							},
						},
				},

    'Point'		: {
	    'FileName'      : 'hmc.$VAR.$yyyy$mm$dd$HH$MM.txt',
	    'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/outcome/$MODE/point/$yyyy/$mm/$dd/',
	    'FileType'	    : 1,		# 1 = ASCII, 2 = NetCDF
	    'FileTimeRes'	: 3600, 	# time resolution
		'FileVars'		: {	
	    	'ARCHIVE'		: {				
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {                                             
        			'Discharge'			: {	  
		                'FileName'      : 'hmc.discharge.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/point/$MODE/discharge/',
		                'FileVar'		: 'discharge',
		                                },
        			'DamV'				: {	  
		                'FileName'      : 'hmc.vdam.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/point/$MODE/dam_volume/',
		                'FileVar'		: 'vdam',
		                                },
        			'DamL'				: {	  
		                'FileName'      : 'hmc.ldam.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/point/$MODE/dam_level/',
		                'FileVar'		: 'ldam',
		                                },
    				'VarAnalysis'		: {	  
		                'FileName'      : 'hmc.var-analysis.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/point/$MODE/analysis/',
		                'FileVar'		: 'var-analysis',
		                                },
									},
							    },
                            },
                        },

    'TimeSeries'	: {

        'FileName'      : 'hmc.$VAR.txt',
	    'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/outcome/$MODE/timeseries/',
	    'FileType'	    : 1,		# 1 = ASCII, 2 = NetCDF
	    'FileTimeRes'	: 3600, 	# time resolution
		'FileVars'		: {
	    	'ARCHIVE'		: {
                'VarResolution'     : 3600,
                'VarArrival'     	: {'Day': 0, 'Hour': []},
                'VarOp'             : {'Merging': None, 'Splitting': None},
                'VarStep'           : 1,
                'VarDims'           : {'T': 'time'},
                'VarName'           : {
                    'Discharge'			: {
                        'FileName'      : 'hmc.hydrograph.txt',
                        'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/timeseries/$MODE/',
                        'FileVar'		: 'hydrograph',
                                        },
                    'DamV'				: {
                        'FileName'      : 'hmc.vdam.txt',
                        'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/timeseries/$MODE/',
                        'FileVar'		: 'vdam',
                                        },
                    'DamL'				: {
                        'FileName'      : 'hmc.ldam.txt',
                        'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/timeseries/$MODE/',
                        'FileVar'		: 'ldam',
                                        },
                    'VarAnalysis'		: {
                        'FileName'      : 'hmc.var-analysis.txt',
                        'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/outcome/timeseries/$MODE/',
                        'FileVar'		: 'var-analysis',
                                        },
                                    },
                                },
                            },
                    },
}

# Data state dynamic dictionary [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataState =	{
    'Gridded'	: {
        'FileName'	 	: 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc.gz',		# [FILEFORMAT: 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc.gz']
	    'FilePath' 	    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/state/$MODE/gridded/$yyyy/$mm/$dd/',
	    'FileVars'	    : {},
	    'FileType'	    : 2,		# 1 = Binary, 2 = NetCDF
	    'FileTimeRes'   : 86400, 	# time resolution
		'FileVars'		: {
			'ARCHIVE'		: {
		        'VarResolution'     : 86400,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
		        'VarName'           : {                                             
        			'ALL'				: {	  
		                'FileName'      : 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/state/gridded/$MODE/',
		                'FileVar'		: 'ALL',
		                                },
									},
							},
						},
				},

	'Point'		: {
		'FileName' 		: 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',		# 'ASCII' = save ASCII file(s), 'name' = composite NetCDF file
		'FilePath'	    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/state/$MODE/point/$yyyy/$mm/$dd/',
		'FileType'		: 1,		# 1 = ASCII, 2 = NetCDF
		'FileTimeRes'	: 86400, 	# time resolution
		'FileVars'		: {
			'ARCHIVE'		: {
		        'VarResolution'     : 86400,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {                                             
        			'ALL'				: {	  
		                'FileName'      : 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/state/point/$MODE/',
		                'FileVar'		: 'ALL',
		                                },
									},
							},
						},
				},
		
}

# Data restart dynamic dictionary [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataRestart = {							 									
    'Gridded'	: {
		'FileName' 		: 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc.gz',	# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'	    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/restart/$MODE/',
		'FileType'	    : 2,		# 1 = Binary, 2 = NetCDF
		'FileTimeRes'   : 86400, 	# time resolution
		'FileVars'	    : {
			'ARCHIVE'		: {
		        'VarResolution'     : 86400,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
		        'VarName'           : {                                             
        			'ALL'				: {	  
		                'FileName'      : 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc.gz',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/restart/$yyyy/$mm/$dd/',
		                'FileVar'		: 'ALL',
		                                },
									},
							},
						},
                },

    'Point'		: {
		'FileName' 	    : 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',		# 'ASCII' = save ASCII file(s), 'name' = composite NetCDF file
		'FilePath'	    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/restart/$MODE/',
		'FileType'	    : 1,		# 1 = ASCII, 2 = NetCDF
		'FileTimeRes'   : 86400, 	# time resolution
		'FileVars'		: {			
			'ARCHIVE'		: {
		        'VarResolution'     : 86400,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {                                             
        			'ALL'				: {	  
		                'FileName'      : 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/restart/$yyyy/$mm/$dd/',
		                'FileVar'		: 'ALL',
		                                },
									},
							},
						},
                },
}		
																																																																																					
# Data observed dynamic dictionary [TAGS: $yyyy, $mm, $dd, $HH, %RUN, $VAR, $MODE]
DataObserved = {
    'Point'     : {
        'FileName'      :	'hmc.$VAR.$yyyy$mm$dd$HH$MM.txt',
        'FilePath'		:	'/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/data/forcing/point/$yyyy/$mm/$dd/',
        'FileType'		:	1,		# 1 = ASCII
        'FileTimeRes'	:	3600, 	# time resolution
		'FileVars'		: {
		    'ARCHIVE'		: {
		        'VarResolution'     : 3600,
		        'VarArrival'     	: {'Day': 0, 'Hour': []},
		        'VarOp'             : {'Merging': None, 'Splitting': None},
		        'VarStep'           : 1,
		        'VarDims'           : {'T': 'time'},
		        'VarName'           : {
        			'Discharge'			: {
		                'FileName'      : 'discharge.observed.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/obs/point/$MODE/discharge/',
		                'FileVar'		: 'discharge',
		                                },
        			'DamV'				: {
		                'FileName'      : 'damv.observed.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/obs/point/$MODE/dam_volume/',
		                'FileVar'		: 'damv',
		                                },
        			'DamL'				: {
		                'FileName'      : 'daml.observed.$yyyy$mm$dd$HH$MM.txt',
		                'FilePath'      : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data/archive/$RUN/$yyyy/$mm/$dd/$HH/obs/point/$MODE/dam_level/',
		                'FileVar'		: 'daml',
		                                },
									},
							},
                        },
                },
}
