#-------------------------------------------------------------------------------------
# HMC - Static variable(s) configuration
# Version 2.0.7 (20180521)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $DOMAIN, $VAR, $RUN
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
DataInput =  {	
    'Gridded'	:       {
        'FileName' 	    : '$DOMAIN.$VAR.txt',	                # [FILEFORMAT: '$DOMAIN.$VAR.txt' ,'hmc.staticdata.nc']
        'FilePath'	    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data_bb/static/land/',
        'FileVars'	    : {                
            'Alpha'                 : {'Name': 'alpha', 			'AlgCheck': True,	'AlgReq': False,},	# 'alpha'				'Wt_Alpha'
            'Beta'                  : {'Name': 'beta', 				'AlgCheck': True,	'AlgReq': False,}, 	# 'beta'				'Wt_Beta'
            'Cf'                    : {'Name': 'cf', 				'AlgCheck': True,   'AlgReq': False,},  # 'cf'					'Cf'
            'Ct'                    : {'Name': 'ct', 				'AlgCheck': True,   'AlgReq': False,},  # 'ct'					'Ct'
            'Uh'                    : {'Name': 'uh', 				'AlgCheck': True,   'AlgReq': False,},  # 'uh'					'Uh'
            'Uc'                    : {'Name': 'uc', 				'AlgCheck': True,   'AlgReq': False,},  # 'uc'					'Uc'
            'Drainage_Area'         : {'Name': 'area', 				'AlgCheck': True,   'AlgReq': False,},  # 'area'				'Drainage_Area'
            'Channels_Distinction'  : {'Name': 'choice', 			'AlgCheck': True,   'AlgReq': False,},	# 'choice'				'Channels_Distinction'
            'Cell_Area'             : {'Name': 'areacell', 			'AlgCheck': True,   'AlgReq': False,}, 	# 'areacell'			'Cell_Area'
            'Coeff_Resolution'      : {'Name': 'coeffres', 			'AlgCheck': True,   'AlgReq': False,},	# 'coeffres'			'Coeff_Resol_Map'
            'Flow_Directions'       : {'Name': 'pnt', 				'AlgCheck': True,   'AlgReq': False,},	# 'pnt'					'Flow_Directions'
            'Partial_Distance'      : {'Name': 'partial_distance',	'AlgCheck': True,   'AlgReq': False,},  # 'partial_distance'	'Partial_Distance'
            'Vegetation_IA'         : {'Name': 'ia', 				'AlgCheck': True,   'AlgReq': False,},	# 'ia'					'VegetationIA'
            'Vegetation_Type'       : {'Name': 'cn', 				'AlgCheck': True,   'AlgReq': True,},	# 'cn'					'VegetationType'
            'Terrain'               : {'Name': 'dem', 				'AlgCheck': True,   'AlgReq': True,}, 	# 'dem'					'Terrain'
            'Mask'                  : {'Name': 'mask', 				'AlgCheck': True,   'AlgReq': False,},  # 'mask'                'Mask'
            'WaterSource'           : {'Name': 'ws', 				'AlgCheck': True,   'AlgReq': False,},  # 'ws'	                'WS'
            'Nature'                : {'Name': 'nature', 			'AlgCheck': True,   'AlgReq': False,},  # 'nature'              'Nature'
                        },	
        'FileType'	    : 1,	# 1 = ASCII
        'FileTimeRes'	: 0, 	# time resolution
				    },

    'Point'		    : {
        'FileName'      : '$DOMAIN.info_$VAR.txt',	
	    'FilePath'		: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/data_bb/static/point/',
        'FileVars'	    : {                
            'Dam'                   : {'Name': 'dam' ,     			'AlgCheck': True,	'AlgReq': True,},         
            'Intake'                : {'Name': 'intake',           	'AlgCheck': True,	'AlgReq': True,},     
            'Joint'                 : {'Name': 'joint',          	'AlgCheck': True,	'AlgReq': False,},           
            'Lake'                  : {'Name': 'lake',           	'AlgCheck': True,	'AlgReq': False,},          
            'Section'               : {'Name': 'section',  			'AlgCheck': True,	'AlgReq': True,},
                        },                     
        'FileType'		: 1,	# 1 = ASCII
	    'FileTimeRes'	: 0, 	# time resolution
			        },

}
#-------------------------------------------------------------------------------------



