#-------------------------------------------------------------------------------------
# HMC ModelExecution - Settings File
# Version 2.0.7 (20180521)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $UC, $UH, $CT, $CF, $DOMAIN, $CPI, $RF, $VMAX, $SLOPEMAX, $DOMAIN, $VAR, $RUN, $yyyy, $mm, $dd, $HH, $MM, $MODE
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
GeneralInfo = {
    'Conventions' 	                : 'CF-1.6',
    'title' 		                : 'HMC Run Manager',
    'institution' 	                : 'CIMA Research Foundation - www.cimafoundation.org',
    'website' 		                : 'http://continuum.cimafoundation.org',
    'source' 		                : 'HMC Run Manager',
    'history'		                : 'Python Module - HMC Run Manager Module',
    'references'	                : 'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
    'comment'		                : 'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
    'email'			                : 'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
    'project'	                	: 'HMC - Hydrological Model Continuum',
    'algorithm'		                : 'HMC Run Manager - Version 2.0.7 (20180521)',
	'model'							: 'HMC - Version 2.0.7 (20180521)',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
ParamsInfo = {
	'Run_Params' :		{
    	'RunDomain' 	                : 'marche',             						# string
    	'RunName'                       : 'history_run',       	    					# string
        'RunMode'						: {'EnsMode': True, 
										   'EnsVar'	: {
												'VarName': 'Ct',
												'VarMin': 0.3,
												'VarMax': 0.5,
												'VarStep': 0.1, 
													},
										},
						},

    'Run_Log':          {
        'FileLog'                       : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/log/hmc_model_run-manager_log_local_history.txt',
                        },

	'Run_VarExec' :		{
    	'RunModelExec'            		: 'HMC_Model_V2_$RUN.x',  								            # string
		'RunModelNamelist'				: '$DOMAIN.info.txt',									            # string
		'RunModelCLine'        			: '$UC $UH $CT $CF $DOMAIN $CPI $KSATRATIO $WTABLEHBR $SLOPEMAX',	# string

						},
	'Run_VarFile' : 	{
    	'FileVarStatic'              	: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-master/config/variables/hmc_model_run-manager_varstatic_$RUN.config',
    	'FileVarDynamic'             	: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-master/config/variables/hmc_model_run-manager_vardynamic_$RUN.config',
						}, 

	'Run_Path' :		{
    	'PathTemp'				        : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/temp/$MODE/',
    	'PathCache'                     : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/cache/$yyyy/$mm/$dd/$HH/$MODE/',
    	'PathExec'	                    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-ws/run/$RUN/exec/$MODE/',
    	'PathLibrary'				    : '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-master/bin/',
		'PathInfo'						: '/home/fabio/Desktop/PyCharm_Workspace_Python3/hmc-master/info/',
						},

	'Time_Params' : 	{
		'TimeNow'		                : '',       					# format yyyymmddHHMM (undefined == '' for op chain)
		'TimeDelta'		                : 3600, 			    					# seconds
		'TimeStepObs'	                : 10,				    					# ntimes obs per timestep (min value == 0)
		'TimeStepFor'	                : 4,				    					# ntimes for per timestep (min value == 0, max value == 1 )
		'TimeStepCheck'	                : 4,				    					# ntimes per timestep data check obs-for (min value == 0)
		'TimeRestart'					: {'RestartStep': 24 , 'RestartHH': '00'}, 
		'TimeWorldRef'                  : {'RefType': 'gmt', 'RefLoad' : 0, 'RefSave' : 0}, # 'local' or 'gmt' tags.
		'TimeTcMax'						: -9999,									# ntimes of routing after last observation (to undefined value = -9999)
						},
    
	# HMC mean parameter(s)
    'HMC_Params' : 		{                      
        'Ct'                : 0.5, 
        'Cf'                : 0.02, 
        'Uc'                : 20, 
        'Uh'                : 1.5, 
        'CPI'               : 0.3, 
        'KSatRatio'         : 1,
        'WTableHbr'         : 500,
        'SlopeMax'          : 70,
                    	},	
	# HMC flag(s)                    
    'HMC_Flag' : 		{
        'Flag_OS'           : 10,           # Type of OS (1=Windows, 10=Linux)
        'Flag_Restart'      : 1,            # Restart a run (1=yes, 0=no)
        'Flag_FlowDeep'     : 1,            # Computing deep Flow (1=yes, 0=no)
        'Flag_DtPhysConv'   : 1,            # Dynamic integration step of convolution (1=yes, 0=no)
        'Flag_Snow'         : 0,            # Computing snow (1=yes, 0=no)
        'Flag_Snow_Assim'   : 0,            # Computing snow assimilation (1=yes, 0=no)
        'Flag_SM_Assim'     : 0,            # Computing soil moisture assimilation (1=yes, 0=no)
        'Flag_DebugSet'     : 0,            # Debug flag set (iDEBUG = 0, iDEBUG = 1)
        'Flag_DebugLevel'   : 3,            # Debug flag level (iNFO_Basic = 0; iINFO_Main = 1, iINFO_Verbose = 2, iINFO_Extra = 3)
        'Flag_CoeffRes'     : 0,            # Resolution Coefficient (0=null, 1=empiric relationship)
        'Flag_WS'           : 0,            # Water sources mode (1=yes, 0=no)
        'Flag_ReleaseMass'  : 1,            # Release mass balance mode (1=yes, 0=no)
        'Flag_LAI'          : 0,            # LAI mode (0=empiric relationship, 1=data)
        'Flag_Albedo'       : 0,            # Albedo mode (0=static value, 1=dynamic monthly values)
                    	},
    
    'HMC_Dt' : 			{
        'Dt_Model'          : 3600,         # Model dT [seconds]
        'Dt_PhysConv'       : 50,           # Physics convolution integration dT [seconds]           
                    	},
                                    
    'HMC_Data' : 		{
		'ForcingGridSwitch'	: 0,					# Forcing data and static data with different grids (samegrid=0, switchgrid=1)
        'ForcingScaleFactor': 10,           		# Forcing data rescaling factor --> used for binary data (permitted: 10 or 100 or 1000)
        'ForcingGeo'		: [42.5239, 12.0642],	# Forcing data geocorner Xll, Yll --> used for binary data (undefined [-9999.0, -9999.0])
        'ForcingRes'		: [0.005006, 0.005006],	# Forcing data resolutions XRes, YRes --> used for binary data (undefined [-9999.0, -9999.0])
        'ForcingDims'		: [311, 401],       	# Forcing data dimensions XDim, YDim --> used for binary data (undefined [-9999, -9999])
		'ForcingDataThr'	: 95,					# Forcing data availability percentage threshold [%]
                    	}, 

}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
GeoSystemInfo = {
    'epsg_code'                     : 4326,
    'grid_mapping_name'             : 'latitude_longitude',
  	'longitude_of_prime_meridian'   : 0.0,
  	'semi_major_axis'               : 6378137.0,
  	'inverse_flattening'            : 298.257223563,
}
#-------------------------------------------------------------------------------------

